@layer base {
	.neo-theme-root {
		@apply font-sans bg-background text-foreground;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
		text-rendering: optimizeLegibility;
	}

	.neo-app-shell {
		overscroll-behavior: none;
	}
}
